
/* 博客管理组件样式 */
.blogComponent{
  width: 100%;
  height: 100%;
}
.blogComponent::-webkit-scrollbar{
  display: none;
}
.blogHead{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #54a1ff6c;
}
.blogHead > p, .blog_item > p{
  box-sizing: content-box;
  border-right: 1px solid #5757576c;
  user-select: none;
}
.blogHead > p:nth-child(1), .blog_item > p:nth-child(1){
  width: 10%;
  min-width: 60px;
  text-align: center;
}
.blogHead > p:nth-child(2), .blog_item > p:nth-child(2){
  width: 10%;
  min-width: 60px;
  text-align: center;
}
.blogHead > p:nth-child(3), .blog_item > p:nth-child(3){
  width: 20%;
  min-width: 180px;
  text-align: center;
}
.blogHead > p:nth-child(4), .blog_item > p:nth-child(4){
  width: 25%;
  min-width: 180px;
  text-align: center;
}
.blogHead > p:nth-child(5), .blog_item > p:nth-child(5){
  width: 15%;
  min-width: 100px;
  text-align: center;
}
.blogHead > p:nth-child(6), .blog_item > p:nth-child(6){
  width: 10%;
  min-width: 100px;
  text-align: center;
}
.blogHead > p:nth-child(7), .blog_item > p:nth-child(7){
  width: 10%;
  min-width: 100px;
  text-align: center;
  border: none;
}
.blogItems{
  width: 100%;
  height: calc(100% - 80px);
  list-style: none;
  overflow-y: auto;
}
.blogItems::-webkit-scrollbar{
  display: none;
}
.blogItems > li{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.blogItems > li:nth-child(even){
  background-color: rgba(172, 171, 171, 0.15);
}
.del:hover{
  cursor: pointer;
}


.now{
  font-size: 18px !important;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

/* 分页样式 */
.page{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.page > p{
  height: 25px;
  border-radius: 5px;
  background-color: #54a1ff6c;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  margin: 0 5px;
  padding: 0 10px;
  color: white;
  user-select: none;
}
.page > p:nth-child(1):hover, p:nth-child(3):hover{
  cursor: pointer;
}
[v-cloak]{
  display: none;
}
.swal-modal{
  height: 270px;
}
.swal-title{
  font-size: 22px;
  text-align: center;
}