
/* 用户管理组件样式 */
.userComponent{
  width: 100%;
  height: 100%;
}
.userComponent::-webkit-scrollbar{
  display: none;
}
.userHead{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #54a1ff6c;
}
.userHead > p, .user_item > p{
  box-sizing: content-box;
  border-right: 1px solid #5757576c;
  user-select: none;
}
.userHead > p:nth-child(1), .user_item > p:nth-child(1){
  width: 11%;
  min-width: 60px;
  text-align: center;
}
.userHead > p:nth-child(2), .user_item > p:nth-child(2){
  width: 15%;
  min-width: 120px;
  text-align: center;
}
.userHead > p:nth-child(3), .user_item > p:nth-child(3){
  width: 24%;
  min-width: 180px;
  text-align: center;
}
.userHead > p:nth-child(4), .user_item > p:nth-child(4){
  width: 24%;
  min-width: 180px;
  text-align: center;
}
.userHead > p:nth-child(5), .user_item > p:nth-child(5){
  width: 15%;
  min-width: 100px;
  text-align: center;
}
.userHead > p:nth-child(6), .user_item > p:nth-child(6){
  width: 11%;
  min-width: 100px;
  text-align: center;
  border: none;
}
.userItems{
  width: 100%;
  height: calc(100% - 80px);
  list-style: none;
  overflow-y: auto;
}
.userItems::-webkit-scrollbar{
  display: none;
}
.userItems > li{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.userItems > li:nth-child(even){
  background-color: rgba(172, 171, 171, 0.15);
}


/* 分页样式 */
.page{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.page > p{
  height: 25px;
  border-radius: 5px;
  background-color: #54a1ff6c;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  margin: 0 5px;
  padding: 0 10px;
  color: white;
  user-select: none;
}
.page > p:nth-child(1):hover, p:nth-child(3):hover{
  cursor: pointer;
}
[v-cloak]{
  display: none;
}
.swal-modal{
  height: 270px;
}
.swal-title{
  font-size: 22px;
  text-align: center;
}